@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

:root {

	--clr-pink: #3EF76f;
	--clr-green: #06d6a0;
	--clr-green_hover: #0cc493;
	--clr-green_active: #0daf84;
}






.table-containerdetalhes {
	position: relative;
	top: 300px;
	/* Altere este valor conforme necessário */
	right: 30%;
	/* Move o elemento para a metade da largura do contêiner pai */
	transform: translateX(-50%);
	/* Move o elemento de volta metade da sua própria largura, centrando-o horizontalmente */
	overflow-y: auto;
}

table-detalhe {
	border: 1px solid rgb(0, 0, 0);
	border-collapse: collapse;
	background-color: #f5f5f5;
	width: 100%;
	margin-bottom: .5em;
	display: inline-block;
	top: 200px;
	/* Altere este valor conforme necessário */
}

th,
td {
	padding: .7em;
	text-align: center;
}

th {
	background-color: #4406d6;
	color: #fff;
}

tr:nth-child(even) {
	background-color: #ddd;
}

tr:hover {
	background-color: #ccc;
}